*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
}
.card{
    width: 300px;
    margin: 40px auto;
    box-shadow: 5px 10px 10px #000;
    border-radius: 10px;
    padding: 0 0 30px;
}
.img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
    height: 180px;
    display: block;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
}
.titulo{
    text-align: center;
    color: #ac0202;
    margin: 20px 0 10px;
}
.parrafo{
    text-align: center;
}
.btn{
    background: #ac0202;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 13px 0;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}
.goku{
    width: 250px;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(2px 6px 7px #1515bc);
}